h1{
	text-decoration: underline;
}
#P{
	font-size: 40pt;
	color: red;
}

h2{
	width: 300px;
	text-align: center;
	border: 1px dashed black;
	border-radius: 50px;
}

img{
	width: 300px;
	height: 300px;
}
.Secnd{
	float: right; 1
}