/* CSS Globales */
body {
	font-size: 15pt;
}

fieldset {
	border: 1px solid #000000;
}

legend {
	border: 1px solid #000000;
}

/* CSS del título */
h1 {
	text-decoration: underline;
	text-align: center;
}

/* CSS de las Imagenes*/
img {
	width: 80px;
	height: 80px;			
	padding: 10px 8px 10px 10px;
  	cursor: pointer;
	margin-bottom: -6px;
}

/* CSS de los Botónes */
button
{
	border-radius: 25px;
	border: 1px solid gray;
	margin: -20px 15px 0px 15px;
	font-size: 16pt;
	padding: 15px;
	color: #333333;
  	background-color: #CCCCCC;
}
button:hover
{
	color: white;
  	background-color: #333333;
}

/* CSS del tablero */
#tablero
{
	float: left;
	margin: 50px 0px 0px 50px;
	width: 800px;
	height: 800px;
	border: 2px solid #000000;
}

#tablero .fila
{
	display: grid;
	width: 800px;
	grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px;
	/* Grid crea columnas en los div (fila) y las agrupa con los div hijos (columnas) */
}

#tablero .columna
{
	display: inline-block;
	width: 100px;
	height: 100px;
	/*margin-bottom: -6px;*/
}

/* CSS de los menus */
#menu
{
	width: 500px;
	height: 800px;
	float: left;
	margin: 50px 0px 0px 100px;
}

#nope
{
	width: 400px;
	height: 800px;
	float: left;
	margin:  50px 0px 0px 50px;
}

/* CSS del menu FICHAS */
#menu .fichas
{
	height: 300px;
}

#blancas img { padding: 0px;}
#negras img  { padding: 0px;}
#blancas img:hover {
  	border: 1px solid #00FF00;
}
#negras img:hover {
  	border: 1px solid #00FF00;
}

/* CSS del menu de COLOCACIÓN */
#menu .colocacion
{
	height: 430px;
	margin: 30px 0px 0px 0px;
}

#fichas
{
	margin: 35px 0px 0px -15px;
}

.fichaSeleccion
{
  	padding: 15px;
  	text-align: center;
  	color: #000000;
  	background-color: #CCCCCC;
  	cursor: pointer;
  	float: center;
}

.fichaSeleccion:hover
{
  	color: white;
  	background-color: #333333;
}

/* CSS de Posicion del cursor */
#posicion_cursor
{
	margin: 25px 0px 0px 20px; 
}